body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: 242424; /* Фон как в VK */
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

/* Шапка */

/* Кнопка в стиле VK */

/* Позиции */

/* Секции */

/* Карточки с музыкой */
.music-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Подвал */
.vk-footer {
    text-align: cenrgba(92,148,239,0.7);
    margin-top: 30px;
    padding: 20px;
    background-color: white; /* Белый фон */
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Тень как в VK */
    font-size: 14px;
    color: 65676b; /* Серый текст */
}
